{% extends 'LineStormBlogBundle::layout.html.twig' %}

{% block content %}
    <h1>Homepage</h1>

    {% for post in posts %}
        <h3><a href="{{ path('linestorm_blog_category', {category: post.category.name}) }}">{{ post.category.name }}</a></h3>
        <p>
            <a href="{{ path('linestorm_blog_post', {category: post.category.name, id: post.id, slug: post.slug }) }}">{{ post.body }}</a>
        </p>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}
