{% extends 'LineStormCmsBundle::layout.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block page_title %}
    Blog
{% endblock %}

{% block head %}
    {% stylesheets
        '@LineStormPostBundle/Resources/public/css/post-list.css'
        filter='cssrewrite' output='compiled/css/post/list.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% if app.user and app.user.hasGroup('admin') %}
        <div class="post-controls navbar-nav navbar">
            <a href="{{ path('linestorm_cms_module_post_admin_create') }}" class="btn btn-primary" id="article-edit"><i class="fa-plus"></i> New Post</a>
        </div>
    {% endif %}
    {% if posts|length %}
        <div class="posts-container">
            {% include 'LineStormPostBundle:Post:list.html.twig' %}
        </div>
    {% else %}
        <div class="center-block no-posts">
            <h2 class="text-muted">There are no posts yet</h2>
        </div>
    {% endif %}
{% endblock %}
