{% set dzId = random() %}
<a href="#" id="addgallery{{ dzId }}" data-prototype='<div class="post-component post-component-gallery"><div class="dropzone"></div></div>'>Add Gallery</a>
<script type="text/javascript">

    var galleryFormCount = 0;

    $('#addgallery{{ dzId }}').on('click', function(){
        var prototype = $($(this).data('prototype').replace(/__length__/g, galleryFormCount));
        $('#PostContent').append(prototype);
        setupDropzone(prototype.find('.dropzone')[0]);
        ++galleryFormCount;
    });

    var setupDropzone = function(placeholder){
        var carrosselData = [];
        var carrosselDropZone = new Dropzone(placeholder, {
            url: window.lineStormTags.mediaBank.upload,
            acceptedFiles: 'image/*',
            init: function(){
                this.on("success", function(file, response) {
                    carrosselData.push(response);
                    console.log(file);
                    console.log(response);
                    alert("Added file.");
                });
                this.on("error", function(file, response) {
                    this.removeFile(file);
                    alert("Cannot add file: "+response);
                });
            },
            previewTemplate:
                '   <div class="dz-preview">' +
                '       <img class="dz-image" data-dz-thumbnail />' +
                '       <div class="dz-details">' +
                '           <div class="row">' +
                '               <div class="col-xs-12">' +
                '                   <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>' +
                '               </div>' +
                '           </div>' +
                '           <div class="row">' +
                '               <div class="col-xs-4">' +
                '                   <strong>Details:</strong>' +
                '               </div>' +
                '               <div class="col-xs-8">' +
                '                   <div class="dz-size" data-dz-size></div>' +
                '               </div>' +
                '           </div>' +
                '           <div class="row">' +
                '               <div class="col-xs-4">' +
                '                   <strong>Caption:</strong>' +
                '               </div>' +
                '               <div class="col-xs-8">' +
                '                   <textarea class="form-control"></textarea>' +
                '               </div>' +
                '           </div>' +
                '       </div>' +
                '       <div class="clearfix"></div>' +
                '   </div>'
        });
    };

</script>
