{% extends 'LineStormBlogBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ category.name }}</h1>

    {% for post in posts %}
        <p>
            <a href="{{ path('linestorm_blog_post', {category: category.name, id: post.id, slug: post.slug }) }}">{{ post.body }}</a>
        </p>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}
