{% extends 'LineStormCmsBundle::layout.html.twig' %}


{% block head %}
    {% stylesheets
    '@LineStormPostBundle/Resources/public/css/post-list.css'
    filter='cssrewrite' output='compiled/css/post/list.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Category: {{ category.name }}</h1>

    {% if posts|length %}
        <div class="posts-container">
            {% include 'LineStormPostBundle:Post:list.html.twig' %}
        </div>
    {% else %}
        <div class="center-block no-posts">
            <h2 class="text-muted">There are no posts in this category yet</h2>
        </div>
    {% endif %}
{% endblock %}
